body {
    margin: 20;
    padding: 0;
    background-color: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
}

.html-table {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(155, 153, 196);
    margin: 10px 50px;
}

.html-table td {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(245, 212, 163);
}

.html-table-head {
    font-weight: bold;
}

.html-structure {
    display: block;
    width: 30%;
    height: auto;
    margin-left: 10px;
}